.navigation__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: opacity 0.1s ease-in-out 0s, background-size 0.3s ease-in-out 0s;
}

.navigation__button:last-of-type {
  background-size: 0% 2px !important; 
  margin: 0 0 0 50px;
}

.navigation__button:hover .navigation__button_text {
  background-size: 100% 2px;
}

.navigation__button:hover {
  background-size: 100% 2px;
  opacity: .70;
  cursor: pointer;
}