.profile__form-input {
  height: 44px !important;
  margin: 0 auto 17px !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 13px !important;
  text-align: right !important;
}

.profile__form-input:last-of-type {
  border: none !important;
}