.techs__card {
  margin: 0;
  padding: 21px 0 22px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #FFFFFF;
  background-color: #303030;
  border-radius: 10px;
  text-decoration: none;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .techs__card {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .techs__card {
    font-size: 12px;
    line-height: 15px;
  }
}