@import url("./__title/portfolio__title.css");
@import url("./__link/portfolio__link.css");
@import url("./__link/_name/portfolio__link_name.css");
@import url("./__link/_img/portfolio__link_img.css");

.portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 70px 50px 70px;
  padding: 0;
  background-color: #202020;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin: 0 14px 40px 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio {
    margin: 0 50px 50px 50px;
  }
}