.footer__copyright {
  margin: 20px 0 0;
  padding: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF !important;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    margin: 0 auto 10px;
    font-size: 12px;
    line-height: 15px;
    color: #8B8B8B;
  }
}