.form__submit-message {
  height: 17px;
  margin: auto auto 0 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;

  transition: all 0.5s ease-in-out 0s;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .form__submit-message {
    font-size: 12px;
    line-height: 15px;
  }
}