.portfolio-item__link {
  margin: 30px 0 10px 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: opacity 0.1s ease-in-out 0s !important;
  
  transition: all 0.5s ease-in-out 0s;
}

.portfolio-item__link:last-of-type {
  margin: 0;
}

.portfolio-item__link:hover {
  opacity: .70;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-item__link {
    margin: 20px auto 10px !important;
  }

  .portfolio-item__link:last-of-type {
    margin: 5px auto 10px !important;
  }
}