.portfolio-item__previe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-item__previe {
    max-width: 292px;
    max-height: 352px;
  }
}