.portfolio-item__link-previe {
  margin: 10px 6.8359375vw 10px 0px;
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s opacity ease-in-out 0s !important;
  
  transition: all 0.5s ease-in-out 0s;
}

.portfolio-item__link-previe:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-item__link-previe {
    margin: 0 auto 10px;
    max-width: 292px;
    max-height: 352px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-item__link-previe {
    max-width: 255px;
    max-height: 307px;
  }
}
@media (min-width: 1440px)  {
  .portfolio-item__link-previe {
    max-width: 540px;
    max-height: 654px;
  }
}