@import url("./__input/filter-checkbox__input.css");
@import url("./__text/filter-checkbox__text.css");

.filter-checkbox {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 70px;
  padding: 0;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .filter-checkbox {
    margin: 0 0 0 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .filter-checkbox {
    margin: 0 0 0 30px;
  }
}