@import url("./__text/footer__text.css");
@import url("./__button-container/footer__button-container.css");
@import url("./__copyright/footer__copyright.css");
@import url("./__container/footer__container.css");
@import url("./__button/footer__button.css");

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 172px;
  margin: auto 0px 0px 0px;
  background-color: #202020;

  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    height: 270px;
  }
}