.portfolio-item_open {
  height: 411px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-item_open:nth-of-type(1) {
    height: 570px !important;
  }
  .portfolio-item_open:nth-of-type(2) {
    height: 570px !important;
  }
  .portfolio-item_open:nth-of-type(3) {
    height: 634px !important;
  }
  .portfolio-item_open:nth-of-type(4) {
    height: 602px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-item_open {
    height: 391px !important;
  }
}
@media (min-width: 1440px)  {
  .portfolio-item_open {
    height: 738px !important;
  }
}