.profile__form-input_placeholder {
  margin: 0 auto -28px !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 13px !important;
  color: #FFFFFF !important;
}